@charset "UTF-8";


*{
	margin: 0;
	padding: 0;
	
}
header {
	background-color: #012840;
	color: #FFFFFF;
	height: 100px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
nav ul {
	text-align: left;
	clear: none;
	float: none;
}
nav ul li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	font-family: open-sans;
	font-style: normal;
	font-weight: 300;
}
* {
	padding-top: 0px;
}
nav {
	background-color: #FFB400;
	color: #FFFFFF;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
		justify-content: center;
	align-content: center;
	align-items: center;
	display: flex;
}
header h1 {
	font-style: normal;
	font-size: 48px;
	text-align: center;
	margin-top: auto;
	padding-top: 20px;
	font-family: quicksand;
	font-weight: 400;
}
header nav section footer main {
	margin-top: 0;
	margin-bottom: 0;
	width: 80%;
}
footer {
	background-color: #D96D55;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	font-variant: normal;
	font-weight: 300;
	font-family: open-sans;
	font-style: normal;
}
footer h5 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: lighter;
	font-size: 20px;
}
main {
	background-color: #F3ECE4;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
main section  {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #F0A897;
	padding-right: 30px;
	padding-left: 30px;
	height: auto;
	border: 8px double #FFFFFF;
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: 13px;
	font-family: open-sans;
	font-style: normal;
	font-weight: 300;
}
#img1 {
	margin-bottom: 20px;
	margin-left: auto;
}
main section h2 {
	font-style: normal;
	font-size: 25px;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	font-family: quicksand;
	font-weight: 400;
}

a:link{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bolder;
}
a:visited {
	color: #6A21C3;
	text-decoration: none;
	font-weight: bold;
}
a:active {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bolder;
}

main section iframe {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.video_poster {
	width: 80%;
	display: flex;
	
	

	margin-left: auto;
	margin-right: auto;
}
.video_normal {
	width: 80%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.video_automatico {
	display: flex;
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
main section iframe {
	display: flex;
	width: 100%;
}
